$headerVerticalSpace: 8;
$headerHorizontalSpace: 8;

.Header {
	display: block;
	margin: 0 auto;
	width: 100%;

	padding: 0 0 em($headerVerticalSpace);

	font-family: $sansFontFamily;

	@include breakpoint(small) {
		width: 96%;
		border-bottom: 1px solid #f2f2f2;
	}

	> .Logo {
		margin-top: em($headerVerticalSpace);
		margin-left: em($headerHorizontalSpace);

		@include breakpoint(small) {
			margin: 0;
		}
	}

	.Menu-toggle {
		height: em($baseLogoHeight + $headerVerticalSpace);
		margin-right: em($headerHorizontalSpace);

		@include breakpoint(tiny) {
			height: em($tinyLogoHeight  + $headerVerticalSpace);
		}
	}

	.Menu-icon {
		margin-top: 2px;
	}
}
