$headerVerticalSpace: 8;
$headerHorizontalSpace: 8;

.Header {
	display: block;
	margin: 0 auto;
	width: 100%;

	padding: 0 0 em($headerVerticalSpace);

	font-family: $sansFontFamily;

	> .Logo {
		margin-top: em($headerVerticalSpace);
		margin-left: em($headerHorizontalSpace);
	}

	.Menu-toggle {
		height: em($tinyLogoHeight + $headerVerticalSpace);
		margin-right: em($headerHorizontalSpace);
	}

	.Menu-icon {
		margin-top: 2px;
	}
}
