.Logo,
.Logo svg {
	width: em($baseLogoWidth);
	height: em($baseLogoHeight);

	@include breakpoint(tiny) {
		width: em($tinyLogoWidth);
		height: em($tinyLogoHeight);
	}
}

.Logo {
	display: block;
	float: left;

	h1 {
		@include hide-text;
	}
}
