// Menu (top drawer)
// -------------------------
$menuBackground: #eee;

.Menu {

	// TODO: Fading border with linear-gradient?
	// @include breakpoint(small) {
	// 	&:after {
	// 		content: '';
	// 		position: absolute;
	// 		display: block;

	// 		bottom: 0;
	// 		left: 0;
	// 		right: 0;

	// 		height: 1px;

	// 		background: #f2f2f2;
	// 	}
	// }

	ul {
		margin: 0;
		padding: 0;

		@include transition( max-height 0.3s ease-out );

		@include breakpoint(small) {
			float: right;
			text-align: right;
		}

		// Hide (only if JS is enabled)
		.js & {
			overflow: hidden;
			max-height: 0;

			@include breakpoint(small) {
				max-height: none;
			}
		}
	}

	&.js-is-open ul {
		max-height: em(217);
	}

	li {
		@include breakpoint(small) {
			display: inline-block;
			margin-left: em(36);

			&:last-child {
				margin-right: em(2);
			}
		}

		a {
			display: block;
			padding: em(12, 20);

			background: $menuBackground;

			color: $bodyColor;
			font-size: em(20);
			text-align: center;
			line-height: 1;

			&:hover {
				color: $linkColor;
			}

			@include breakpoint(small) {
				background: none;
				padding: 0;
			}
		}

		@media (max-width: em($breakpointSmall - 1))  {
			&:first-child a {
				padding-top: em(24, 20);
			}

			&:last-child a {
				padding-bottom: em(24, 20);
			}
		}
	}
}

// Menu toggle
// -------------------------
.Menu-toggle {
	float: right;
	display: block;

	color: $bodyColor;
	line-height: em($baseLogoHeight);
	text-transform: uppercase;

	height: em($baseLogoHeight);

	padding: 0 em(8);

	outline: none;

	@include breakpoint(tiny) {
		line-height: em($tinyLogoHeight);
		height: em($tinyLogoHeight);
	}

	@include breakpoint(small) {
		display: none;
	}

	&.with-Menu-icon {
		position: relative;
		width: em(26);
		padding: 0;

		@include breakpoint(tiny) {
			width: em(30);
		}
	}

	.js-is-open & {
		background: $menuBackground;
	}
}

$menuIconColor: #999;
$menuIconHeight: 3px;
$menuIconSpace: 6px;
$menuIconWidth: 100%;

$tinyMenuIconSpace: 7px;
.Menu-icon {
	position: absolute;
	display: block;
	left: (100 - $menuIconWidth)/2;
	top: 50%;

	width: $menuIconWidth;
	height: $menuIconHeight;
	margin-top: -($menuIconHeight/2);

	background: $menuIconColor;
	border-radius: $menuIconHeight;

	font-size: 0;

	@include transition(background 0.1s ease);

	&:before,
	&:after {
		position: absolute;
		content: '';
		left: 0;

		width: 100%;
		height: 100%;

		background: $menuIconColor;
		border-radius: $menuIconHeight;

		@include transition(transform 0.3s ease);
	}

	&:before {
		@include transform(translateY(-$menuIconSpace));
		@include breakpoint(tiny) {
			@include transform(translateY(-$tinyMenuIconSpace));
		}
	}

	&:after {
		@include transform(translateY($menuIconSpace));
		@include breakpoint(tiny) {
			@include transform(translateY($tinyMenuIconSpace));
		}
	}

	.js-is-open & {
		background: transparent;

		&:before {
			@include transform(translateY(0px) rotate(45deg));
			background: darken($menuIconColor, 20%);
		}

		&:after {
			@include transform(translateY(0px) rotate(-45deg));
			background: darken($menuIconColor, 20%);
		}
	}
}
